﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ache Personal | 500 Error</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Whoops, algo não deu certo!!!</h3>

        <div class="error-desc">
            Ocorreu um erro interno em nosso servidor, não foi possível completar essa requisição. Pedimos desculpas.<br />
            Você pode voltar à: <br /><a href="@Url.Action("Index", "Home")" class="btn btn-primary m-t">Página Inicial</a>
        </div>
    </div>

</body>

</html>


