<!-- START Top Navbar-->
<nav class="navbar topnavbar">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">
            <div class="brand-logo">
                <img src="~/Content/Images/logo.jpg" alt="App Logo" class="img-responsive" style="max-height: 50px" />
            </div>
            <div class="brand-logo-collapsed">
                <img src="~/Content/Images/logo-single.jpg" alt="App Logo" class="img-responsive" style="max-height: 50px" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
                    <em class="fa fa-bars"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
                    <em class="fa fa-bars"></em>
                </a>
            </li>
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle-state="offsidebar-open" data-no-persist="true">
                    @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken();
                        <i class="fa fa-sign-out"></i> <span>Logoff</span>
                    }
                </a>
            </li>

        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->