﻿@model GarageConcept.ViewModels.Account.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="~/Content/Images/logo.jpg" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">EFETUE O LOGIN PARA CONTINUAR</p>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "mb-lg" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Usuário/CPF/Nº OS" })
                    <span class="fa fa-user form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha" })
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            @Html.CheckBoxFor(model => model.RememberMe)
                            <span class="fa fa-check"></span>Lembrar-me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
            }
        </div>
    </div>
    <!-- END panel-->
</div>