﻿
@{
    ViewBag.Title = "Veículos";
}

<div class="content-heading">
    Veículos
    <small>Listagem de Veículos Cadastrados</small>
</div>

<div class="row pt-sm pt-lg">
    <div class="col-xs-12">
        <table data-column-selection="false" id="grid-vehicles" data-get-url="@Url.HttpRouteUrl("Vehicles.Get", new { })" data-delete-url="@Url.HttpRouteUrl("Vehicles.Delete", new { id = 0 })" data-edit-url="@Url.Action("Edit", new { Id = 0 })" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-header-css-class="col-xs-2" data-identifier="true" data-column-id="Id">Id</th>
                    <th data-header-css-class="col-xs-3" data-column-id="PlateNumber" data-formatter="vehicle">Veículo</th>
                    <th data-header-css-class="col-xs-3" data-column-id="Owner" data-formatter="owner">Proprietário</th>
                    <th data-header-css-class="col-xs-2" data-column-id="OSCount">Qtd. OS</th>
                    <th data-header-css-class="col-xs-2" data-column-id="commands" data-formatter="commands"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Styles {
    @Styles.Render("~/css/bootgrid")
}

@section Scripts
{
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/bootgrid-fa")
    @Scripts.Render("~/bundles/pages/vehicles/index")
}